<h1 class="title">Create a New Subject</h1>

<div class="container">
  <% if current_user.admin? %>
    <!-- Admins can directly create subjects -->
    <%= form_with(model: @subject, local: true) do |form| %>
      <% if @subject.errors.any? %>
        <div class="error_explanation">
          <h4><%= pluralize(@subject.errors.count, "error") %> prohibited this subject from being saved:</h4>
          <ul>
            <% @subject.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <%= form.label :name, class: "form-label" %>
        <%= form.text_field :name, class: "form-control", placeholder: "Enter subject name" %>
      </div>

      <div class="button-group">
        <%= link_to 'Back to Create Note', new_note_path, class: 'btn btn-primary new-note-btn' %>
        <%= form.submit 'Create Subject', class: 'btn' %>
      </div>
    <% end %>
  <% else %>
    <!-- Non-admin users submit a request for a new subject -->
    <h2>Request New Subject</h2>
    <%= form_with(model: Request.new, url: requests_path, local: true) do |form| %>
      
      <% if @request && @request.errors.any? %>
        <div class="error_explanation">
          <h4><%= pluralize(@request.errors.count, "error") %> prohibited this request from being submitted:</h4>
          <ul>
            <% @request.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <%= form.hidden_field :request_type, value: 'subject' %> <!-- Hidden field to specify type -->

      <div class="form-group">
        <%= form.label :subject_name, "Requested Subject Name", class: "form-label" %> <!-- Adjust label -->
        <%= form.text_field :subject_name, class: "form-control", placeholder: "Enter requested subject name" %>
      </div>

      <div class="button-group">
        <%= link_to 'Back to Create Note', new_note_path, class: 'btn btn-primary new-note-btn' %>
        <%= form.submit 'Submit Subject Request', class: 'btn' %>
      </div>
    <% end %>
  <% end %>
</div>
